<html>
<head>
<title>Fireworks Launch System</title>
<link href="/styles/style.css" rel="stylesheet">
</head>
<body>
<h2>Fireworks</h2>
<% @fireworks.each do |firework| %>
    <p <%= 
	if firework.fired 
		'class="fired"' 
	elsif firework.selected 
		'class="selected"' 
	end%>>
      <b <%= 'class="fired"' if firework.fired %>><%= firework.description %></b>
      <i><%= firework.box %>/<%= firework.channel %>/<%= firework.polarity %></i>
      
     <% if !firework.fired and !firework.selected %>
      <a href="/fireworks/<%= firework.id %>/select">Select</a>
     <% end %>	    
     <% if !firework.selected %>
      <a href="/fireworks/<%= firework.id %>/delete">Delete</a>
     <% end %>	    
    </p>
<% end %>

</body>
</html>
